In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv('embrassing_400_by_annotators.csv')
df

,example_id,preprocessed_text,Roi,Sahar,Daniel,Tomer,Tamir,Shuby,Michael,Itay
0,0,"girl goes up to make her speech, super nervous...",1.0,NaN,NaN,NaN,3.0,NaN,3.0,NaN
1,1,i punched a guy bc he was making rape jokes an...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN
2,2,omfg all week my dad has been yelling at me ab...,2.0,NaN,NaN,NaN,4.0,NaN,4.0,NaN
3,3,i'm at a museum right now and i'm really bored...,1.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN
4,4,one time 7 years old went to a big department ...,3.0,NaN,NaN,NaN,3.0,NaN,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...
395,395,i'm terrible at elevator small talk. my friend...,NaN,NaN,NaN,4.0,NaN,3.0,NaN,4.0
396,396,"at a party, it's time to go home. need to gath...",NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
397,397,once ran into this hotel for a wee as i often ...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
398,398,"more than 25 years ago, i was in germany at a ...",NaN,NaN,NaN,1.0,NaN,2.0,NaN,3.0
399,399,"i walked past a girl in the canteen, and there...",NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0

In [9]:
df_filtered = df.dropna(subset=['Tomer'])
df_filtered = df_filtered[['example_id', 'preprocessed_text', 'Tomer']]
df_filtered

     example_id                                  preprocessed_text  Tomer
300         300  i once bit on a dog bone in my local grocery s...    2.0
301         301  out of several hundred graduating students, i ...    3.0
302         302  so one night i was with my ex-wife (wife at th...    2.0
303         303  in college i spent the night at my boyfriend's...    1.0
304         304  i was teaching a health class to 60 elementary...    1.0
..          ...                                                ...    ...
395         395  i'm terrible at elevator small talk. my friend...    4.0
396         396  at a party, it's time to go home. need to gath...    1.0
397         397  once ran into this hotel for a wee as i often ...    1.0
398         398  more than 25 years ago, i was in germany at a ...    1.0
399         399  i walked past a girl in the canteen, and there...    2.0

[100 rows x 3 columns]

In [11]:
# Calculate label distribution
label_distribution = df_filtered['Tomer'].value_counts()

# Print the label distribution
print("Label Distribution:")
print(label_distribution)

# Calculate general statistics on labels
label_stats = df_filtered['Tomer'].describe()

# Print the label statistics
print("\nLabel Statistics:")
print(label_stats)

Label Distribution:
Tomer
2.0    32
4.0    25
1.0    22
3.0    21
Name: count, dtype: int64

Label Statistics:
count    100.000000
mean       2.490000
std        1.096321
min        1.000000
25%        2.000000
50%        2.000000
75%        3.250000
max        4.000000
Name: Tomer, dtype: float64